Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
bin/Debug/定时关机Ex.exe
bin/Debug/定时关机Ex.vshost.exe.manifest
bin/Debug/定时关机Ex.exe
bin/Debug/定时关机Ex.exe.config
bin/Debug/定时关机Ex.pdb
bin/Debug/定时关机Ex.vshost.exe.config
bin/Debug/定时关机Ex.vshost.exe.manifest
obj/x86/Debug/定时关机Ex.exe
obj/x86/Debug/定时关机Ex.pdb
obj/x86/Debug/定时关机Ex.vbproj.GenerateResource.Cache
